<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--导航栏-->
<header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/auth/default">D_D 个人相册</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>JavaWeb</a></li>
                        <li class="divider"></li>
                        <li><a>Android</a></li>
                        <li><a>IOS</a></li>

                    </ul>
                </li>
                <li class="active"><a href="#">C/C++</a></li>
                <li><a href="#">Linux</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        HTML/CSS <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">JavaQuery</a></li>
                        <li><a href="#">Node.js</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Bootostrap</a></li>
                        <li><a href="#">WebApp</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        数据库 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">SQLserver</a></li>
                        <li><a href="#">MySql</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        记事 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/auth/note/write}">写记事</a></li>
                        <li><a th:href="@{/auth/photos/upload}">传照片</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse"
             aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/logout}">退出</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right" th:text="|当前用户：${session.user.nickName}|"></p>
        </div>
    </nav>
</header>
</html>