<!DOCTYPE HTML>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
    <!--[if IE]>
    <script type="text/javascript" th:src="@{/js/html5.js}"></script>
    <![endif]-->
</head>
<body onkeydown="on_return();">
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>欢迎你</h3>
                <form id="my_form" th:action="@{/login}" name="f" method="post">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input id="logname" name="logname" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入用户名"/>
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input id="logpass" name="logpass" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="请输入密码"/>
                    </div>
                    <div class="mb2"><a class="act-but submit" href="javascript:;" id="sub" onclick="check()"
                                        style="color: #FFFFFF">登录</a></div>
                </form>
                <!--错误信息提示-->
                <div style="color: red">
                    <label id="my_label"></label>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script th:src="@{/js/TweenLite.min.js}"></script>
<script th:src="@{/js/EasePack.min.js}"></script>
<script th:src="@{/js/rAF.js}"></script>
<script th:src="@{/js/demo-1.js}"></script>
<div style="text-align:center;">
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //这个标签意思是忽略内部的东西，如< $ 保证不会被解释为标签文本，这样就可以在内部使用特殊字符
    $(document).ready(function () {
        var error = [[${error}]];
        if (error != null) {
            $("#my_label").html("<strong>" + error + "</strong>");
        }
    });
    function check() {
        if ($("#logname").val() == "") {
            $("#my_label").html("<strong>姓名不能为空！</strong>");
            return false;
        } else if ($("#logpass").val() == "") {
            $("#my_label").html("<strong>密码不能为空！</strong>");
            return false;
        }
        $("#my_form").submit();
    }
    //回车时，默认是登陆
    function on_return() {
        if (window.event.keyCode == 13) {
            if (document.all('sub') != null) {
                document.all('sub').click();
            }
        }
    }
    /*]]>*/
</script>
</html>